.outer {
  background-color: #eee;
  padding: 0 0 36px 0;
  text-align: center;
}
.inner {
  background-color: #ffffff;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 18px;
  font-family: sans-serif;
  font-size: medium;
  text-align: left;
}
