Resources:
    efsSecurityGroupIngress:
        Type: AWS::EC2::SecurityGroupIngress
        Properties:
            GroupId: $SECURITY_GROUP_ID
            IpProtocol: tcp
            ToPort: 2049
            FromPort: 2049
            SourceSecurityGroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}