Resources:
    efsSecurityGroupIngress:
        Type: AWS::EC2::SecurityGroupIngress
        Properties:
            GroupId: '`{ "Fn::ImportValue" : "EfsSecurityGroupId" }`'
            IpProtocol: tcp
            ToPort: 2049
            FromPort: 2049
            SourceSecurityGroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}