Resources:
    postgresSecurityGroupIngress:
        Type: AWS::EC2::SecurityGroupIngress
        Properties:
            GroupId: sg-0fcf19355ba3d889e
            IpProtocol: tcp
            ToPort: 5432
            FromPort: 5432
            SourceSecurityGroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}