Resources:
    sshSecurityGroupIngress:
        Type: AWS::EC2::SecurityGroupIngress
        Properties:
            GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
            IpProtocol: tcp
            ToPort: 22
            FromPort: 22
            SourcePrefixListId: pl-07c8837cea2d653f2