Resources:
    sshSecurityGroupIngress:
        Type: AWS::EC2::SecurityGroupIngress
        Properties:
            GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
            IpProtocol: tcp
            ToPort: 22
            FromPort: 22
            SourcePrefixListId: pl-08a555ea4b6478bfe