Resources:
    ALBInstanceEgress:
        Type: AWS::EC2::SecurityGroupEgress
        Properties:
            GroupId: '`{"Fn::ImportValue":"ALBSecurityGroupId"}`'
            DestinationSecurityGroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
            IpProtocol: tcp
            ToPort: 443
            FromPort: 443