files:
  "/tmp/install_node.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      yum install https://rpm.nodesource.com/pub_21.x/nodistro/repo/nodesource-release-nodistro-1.noarch.rpm -y
      yum install nodejs -y --setopt=nodesource-nodejs.module_hotfixes=1

commands:
  install_node:
    command: "sh /tmp/install_node.sh"
    ignoreErrors: false