files:
  "/tmp/install_node.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      curl -fsSL https://rpm.nodesource.com/setup_20.x | bash -
      yum install -y nodejs

commands:
  install_node:
    command: "sh /tmp/install_node.sh"
    ignoreErrors: false