option_settings:
  aws:autoscaling:launchconfiguration:
    EC2KeyName: aws-eb

  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  
  aws:autoscaling:launchconfiguration:
    RootVolumeSize: 12
  
  aws:autoscaling:launchconfiguration:
    RootVolumeType: gp2
  
  aws:autoscaling:launchconfiguration:
    SSHSourceRestriction: tcp,22,22,default
  
  aws:ec2:instances:
    InstanceTypes: t3.micro,t2.micro

  aws:elasticbeanstalk:application:environment:
    AWS_ACCOUNT_ID: '`{"Ref":"AWS::AccountId"}`'
    AWS_REGION: '`{"Ref":"AWS::Region"}`'
    BACKUP_BUCKET_NAME: '`{"Fn::ImportValue":"BackupBucketName"}`'
  
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
  
  aws:elasticbeanstalk:environment:
    LoadBalancerIsShared: true
  
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  
  aws:elasticbeanstalk:environment:
    ServiceRole: service-role/aws-elasticbeanstalk-service-role
  
  aws:elbv2:listener:443:
    Protocol: HTTPS

  aws:elbv2:listener:443:
    SSLCertificateArns: '`{"Fn::ImportValue":"HttpsCertificateArn"}`'
  
  aws:elbv2:loadbalancer:
    SharedLoadBalancer: '`{"Fn::ImportValue":"SharedLoadBalancerArn"}`'
  