option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_ACCOUNT_ID: '`{"Ref":"AWS::AccountId"}`'
    AWS_REGION: '`{"Ref":"AWS::Region"}`'
    BACKUP_BUCKET_NAME: '`{"Fn::ImportValue":"BackupBucketName"}`'
    FILE_SYSTEM_ID: '`{"Fn::ImportValue":"EfsFileSystemId"}`'
    MOUNT_DIRECTORY: "/efs"
