option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_ACCOUNT_ID: '`{"Ref":"AWS::AccountId"}`'
    AWS_REGION: '`{"Ref":"AWS::Region"}`'
    BACKUP_BUCKET_NAME: '`{"Fn::ImportValue":"BackupBucketName"}`'
  aws:elbv2:listener:443:
    SSLCertificateArns: '`{"Fn::ImportValue":"HttpsCertificateArn"}`'
  aws:elbv2:loadbalancer:
    SharedLoadBalancer: '`{"Fn::ImportValue":"SharedLoadBalancerArn"}`'
