option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_ACCOUNT_ID: '`{"Ref":"AWS::AccountId"}`'
    AWS_REGION: '`{"Ref":"AWS::Region"}`'
    BACKUP_BUCKET_NAME: '`{"Fn::ImportValue":"BackupBucketName"}`'

  aws:elasticbeanstalk:customoption:
    HttpsCertificateArn: '`{"Fn::ImportValue": "HttpsCertificateArn"}`'
    SharedLoadBalancerArn: '`{"Fn::ImportValue": "SharedLoadBalancerArn"}`'

  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerIsShared: true
    LoadBalancerType: application

  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns:
      Fn::GetOptionSetting: { OptionName: HttpsCertificateArn }

  aws:elbv2:loadbalancer:
    SharedLoadBalancer:
      Fn::GetOptionSetting: { OptionName: SharedLoadBalancerArn }
