apiVersion: batch/v1
kind: CronJob
# kind: Job
metadata:
  name: mongodb-backup
spec:
  schedule: "0 3 * * *"          # daily at 03:00
  timeZone: "America/Los_Angeles"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      backoffLimit: 2
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: mongodb-backup
              image: localhost:5000/mongo
              imagePullPolicy: IfNotPresent
              envFrom:
                - configMapRef:
                    name: mongo-config
                - secretRef:
                    name: mongo-secrets
              command: ["backup.sh"]
              resources:
                requests:
                  cpu: "100m"
                  memory: "256Mi"
                limits:
                  cpu: "500m"
                  memory: "1Gi"
