apiVersion: v1
kind: Service
metadata:
  name: mongodb
  annotations:
    tailscale.com/expose: "true"
spec:
  selector:
    app: mongodb
  ports:
    - name: mongo
      port: 27017
      targetPort: 27017
