html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Resubscribed
body(style="font-family: sans-serif; text-align: center; margin-top: 15vh;")
  h2 #{title}
  h3 #{email}
  p You're now resubscribed.
  p Woohoo!
  form(method="POST")
    button(type="submit") Unsubscribe
