html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Unsubscribed
body(style="font-family: sans-serif; text-align: center; margin-top: 15vh;")
  h2 #{list_name}
  h3 #{email}
  p You are now unsubscribed.
  p You can resubscribe at:
  a(href="https://journaling.place/settings") journaling.place/settings
