html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Unsubscribe?
body(style="font-family: sans-serif; text-align: center; margin-top: 15vh;")
  h2 #{list_name}
  p You are now unsubscribed.
  p You can resubscribe at any time at:
  a(href="https://journaling.place/settings") journaling.place/settings
