apiVersion: skaffold/v4beta13
kind: Config
metadata:
  name: jp-app
build:
  tagPolicy:
    envTemplate:
      template: "{{.IMAGE_TAG}}"
  artifacts:
    - image: tmshkr/journaling.place
      context: ../../
      docker:
        dockerfile: ./Dockerfile

manifests:
  helm:
    releases:
      - name: "jp-{{.IMAGE_TAG}}" # name of the Helm release. It accepts environment variables via the go template syntax.
        chartPath: "helm" # local path to a packaged Helm chart or an unpacked Helm chart directory.
        setValueTemplates:
          fullnameOverride: "jp-{{.IMAGE_TAG}}"
          image.tag: "{{.IMAGE_TAG}}"
          image.repository: "{{.IMAGE_REPO_tmshkr_journaling_place}}"
          command: ["npm", "run", "start"]
          config.EMAIL_FROM: "{{.EMAIL_FROM}}"
          config.TEST_USER_EMAIL: "{{.TEST_USER_EMAIL}}"
          config.NEXTAUTH_URL: "{{.NEXTAUTH_URL}}"
          config.PRISMA_QUERY_ENGINE_LIBRARY: "{{.PRISMA_QUERY_ENGINE_LIBRARY}}"
          secrets.EMAIL_SECRET: "{{.EMAIL_SECRET}}"
          secrets.EMAIL_SERVER: "{{.EMAIL_SERVER}}"
          secrets.MONGO_URI: "{{.MONGO_URI}}"
          secrets.NEXTAUTH_SECRET: "{{.NEXTAUTH_SECRET}}"
