apiVersion: skaffold/v4beta13
kind: Config
metadata:
  name: jp-app
build:
  tagPolicy:
      envTemplate:
        template: "{{.IMAGE_TAG}}"
  artifacts:
    - image: localhost:5000/journaling.place
      context: ../../
      docker:
        dockerfile: ./Dockerfile
        
manifests:
   kustomize:
      paths:
        - .
